/******imports******/
@import  url(bootstrap.css);


body{
    background-image: url(https://media4.picsearch.com/is?CZ6sOvjH9V8Pk3q-5FynHHRe2zsk8dEXa-CRLT6s0-o&height=180);
    background-size: 100%;
}
.heading{
    
    line-height: 10px;
}
h2{
    text-align: center;
    font-size: 50px;
}
.info{

    font-size: 20px;
}
.col-3 {
    background-color: antiquewhite;
}
.inputs{
    text-align: center;
    font-size: 15px;
}
.inputs p{
    margin-left: 80px;
}
button{
    color: brown;
    background-color: darkgray;
}
#final{
    font-size: 20px;
    text-align: center;
}