.heading{
    
    line-height: 10px;
}
h2{
    text-align: center;
    font-size: 50px;
}
.info{
    margin-left: 250px;
    font-size: 20px;
}
.inputs{
    text-align: center;
    font-size: 15px;
}
.inputs p{
    margin-left: 80px;
}
button{
    color: brown;
    background-color: darkgray;
}
#final{
    font-size: 20px;
    text-align: center;
}